h1{
    text-align: center;
}

form input{
    
    display:block;
    
    width:400px;
  
    border-radius:20px ;
   
    font-size: large;
    margin: .4rem;
   
}
form label{
    font-size: 30px;
    display:block;
 
    
}
div label{
display: block;
margin: .1rem;
}
p{
font-size: 30px;
margin: .rem;
}

    option{
        background-color: rgb(206, 195, 195);
    }