th {
    text-align: left;
    width: 4.5cm;
}


form {
    padding: 15px ;
    padding-left: 0%;
    font-size: 65px;
    line-height: 50px;
    
   

    
 
}

.time {
padding: 20cm;
margin: 30px;

}