th {
    margin: 20px;
    padding: 30px;
    border:2px solid black ;
    background-color: rgb(206, 206, 251);
}

td {
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
    font-size: 25px;
    
}

.city {
    background-color:rgb(71, 71, 243);
}
.first {
    background-color: rgb(216, 9, 9);
    color: rgb(60, 11, 108);
    
}

.links {
    background-color: rgb(168, 99, 232);
    color: black;

}
.center {
    background-color: yellow;

}
table :hover  {
   background-color: rgb(255, 118, 21);
   cursor: grab;
}